<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0225e86616.js" crossorigin="anonymous"></script>
    <title>Write Applications</title>
    <script src="jquery-3.6.1.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="main.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
</head>
<body>
    <h1>WRITE APPLICATIONS</h1>
    <br>
    <p>PERSONAL INFORMATION</p>
    <div class="insideBox">
        <form method="post" id="firstName" class="button"><button class="insideButton" type="submit">F NAME</button></form>
        <form method="post" id="lastName" class="button"><button class="insideButton" type="submit">L NAME</button></form>
    </div>
    <div class="insideBox">
        <form method="post" id="phone" class="button"><button class="insideButton" type="submit">PHONE</button></form>
        <form method="post" id="email" class="button"><button class="insideButton" type="submit">EMAIL</button></form>
    </div>
    <div class="insideBox">
        <form method="post" id="fullName" class="button"><button class="insideButton" type="submit">FULL NAME</button></form>
        <form method="post" id="linkedIn" class="button"><button class="insideButton" type="submit">LINKEDIN</button></form>
    </div>

    <p>ADDRESS</p>
    <div class="insideBox">
        <form method="post" id="addressLine1" class="button"><button class="insideButton" type="submit">ADDRESS</button></form>
        <form method="post" id="city" class="button"><button class="insideButton" type="submit">CITY</button></form>
    </div>
    <div class="insideBox">
        <form method="post" id="state" class="button"><button class="insideButton" type="submit">STATE</button></form>
        <form method="post" id="country" class="button"><button class="insideButton" type="submit">COUNTRY</button></form>
    </div>
    <div class="insideBox">
        <form method="post" id="zipCode" class="button"><button class="insideButton" type="submit">ZIP</button></form>
        <form method="post" id="password" class="button"><button class="insideButton" type="submit">PASSWORD</button></form>
    </div>

    <p>INTERNSHIP 1</p>
    <div class="insideBox">
        <form method="post" id="startDate1" class="button"><button class="insideButton" type="submit">START DATE 1</button></form>
        <form method="post" id="endDate1" class="button"><button class="insideButton" type="submit">END DATE 1</button></form>
    </div>
    <div class="insideBox">
        <form method="post" id="companyName1" class="button"><button class="insideButton" type="submit">COMPANY NAME 1</button></form>
        <form method="post" id="title1" class="button"><button class="insideButton" type="submit">TITLE 1</button></form>
    </div>
    <div class="insideBox">
        <form method="post" id="describe1" class="button"><button class="insideButton" type="submit">DESCRIPTION 1</button></form>
    </div>

    <p>INTERNSHIP 2</p>
    <div class="insideBox">
        <form method="post" id="startDate2" class="button"><button class="insideButton" type="submit">START DATE 2</button></form>
        <form method="post" id="endDate2" class="button"><button class="insideButton" type="submit">END DATE 2</button></form>
    </div>
    <div class="insideBox">
        <form method="post" id="companyName2" class="button"><button class="insideButton" type="submit">COMPANY NAME 2</button></form>
        <form method="post" id="title2" class="button"><button class="insideButton" type="submit">TITLE 2</button></form>
    </div>
    <div class="insideBox">
        <form method="post" id="describe2" class="button"><button class="insideButton" type="submit">DESCRIPTION 2</button></form>
    </div>

    <p>INTERNSHIP 3</p>
    <div class="insideBox">
        <form method="post" id="startDate3" class="button"><button class="insideButton" type="submit">START DATE 3</button></form>
        <form method="post" id="endDate3" class="button"><button class="insideButton" type="submit">END DATE 3</button></form>
    </div>
    <div class="insideBox">
        <form method="post" id="companyName3" class="button"><button class="insideButton" type="submit">COMPANY NAME 3</button></form>
        <form method="post" id="title3" class="button"><button class="insideButton" type="submit">TITLE 3</button></form>
    </div>
    <div class="insideBox">
        <form method="post" id="describe3" class="button"><button class="insideButton" type="submit">DESCRIPTION 3</button></form>
    </div>

    <p>UNIVERSITY</p>
    <div class="insideBox">
        <form method="post" id="universityName" class="button"><button class="insideButton" type="submit">UNIVERSITY NAME</button></form>
        <form method="post" id="major" class="button"><button class="insideButton" type="submit">MAJOR</button></form>
    </div>
    <div class="insideBox">
        <form method="post" id="degree" class="button"><button class="insideButton" type="submit">DEGREE</button></form>
        <form method="post" id="grad" class="button"><button class="insideButton" type="submit">GRAD DATE</button></form>
    </div>

    <p>CERTIFICATION</p>
    <div class="insideBox">
        <form method="post" id="courseName1" class="button"><button class="insideButton" type="submit">COURSE NAME 1</button></form>
        <form method="post" id="courseInstitute1" class="button"><button class="insideButton" type="submit">INSTITUTE NAME 1</button></form>
    </div>
    <div class="insideBox">
        <form method="post" id="courseName2" class="button"><button class="insideButton" type="submit">COURSE NAME 2</button></form>
        <form method="post" id="courseInstitute2" class="button"><button class="insideButton" type="submit">INSTITUTE NAME 2</button></form>
    </div>
    <div class="insideBox">
        <form method="post" id="courseName3" class="button"><button class="insideButton" type="submit">COURSE NAME 3</button></form>
        <form method="post" id="courseInstitute3" class="button"><button class="insideButton" type="submit">INSTITUTE NAME 3</button></form>
    </div>
    <div class="insideBox">
        <form method="post" id="courseName4" class="button"><button class="insideButton" type="submit">COURSE NAME 4</button></form>
        <form method="post" id="courseInstitute4" class="button"><button class="insideButton" type="submit">INSTITUTE NAME 4</button></form>
    </div>

    <!-- <p>SDV</p>
    <div class="insideBox">
        <form method="post" id="addressLine1" class="button"><button class="insideButton" type="submit">ADDRESS</button></form>
        <form method="post" id="city" class="button"><button class="insideButton" type="submit">CITY</button></form>
    </div>
    <div class="insideBox">
        <form method="post" id="state" class="button"><button class="insideButton" type="submit">STATE</button></form>
        <form method="post" id="country" class="button"><button class="insideButton" type="submit">COUNTRY</button></form>
    </div>
    <div class="insideBox">
        <form method="post" id="zipCode" class="button"><button class="insideButton" type="submit">ZIP</button></form>
        <form method="post" id="password" class="button"><button class="insideButton" type="submit">PASSWORD</button></form>
    </div> -->


    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        
        // PERSONAL
        $(document).on('submit', '#firstName', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "firstName"}})});
        $(document).on('submit', '#lastName', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "lastName"}})});
        
        $(document).on('submit', '#phone', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "phone"}})});
        $(document).on('submit', '#email', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "email"}})});
        
        $(document).on('submit', '#fullName', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "fullName"}})});
        $(document).on('submit', '#linkedIn', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "linkedIn"}})});
        
        // ADDRESS
        $(document).on('submit', '#addressLine1', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "addressLine1"}})});
        $(document).on('submit', '#city', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "city"}})});
        
        $(document).on('submit', '#state', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "state"}})});
        $(document).on('submit', '#country', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "country"}})});
        
        $(document).on('submit', '#zipCode', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "zipCode"}})});
        $(document).on('submit', '#password', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "password"}})});

        // INTERNSIP 1
        $(document).on('submit', '#startDate1', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "startDate1"}})});
        $(document).on('submit', '#endDate1', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "endDate1"}})});
        
        $(document).on('submit', '#companyName1', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "companyName1"}})});
        $(document).on('submit', '#title1', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "title1"}})});
        
        $(document).on('submit', '#describe1', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "describe1"}})});


        // INTERNSIP 2
        $(document).on('submit', '#startDate2', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "startDate2"}})});
        $(document).on('submit', '#endDate2', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "endDate2"}})});
        
        $(document).on('submit', '#companyName2', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "companyName2"}})});
        $(document).on('submit', '#title2', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "title2"}})});
        
        $(document).on('submit', '#describe2', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "describe2"}})});


        // INTERNSIP 3
        $(document).on('submit', '#startDate3', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "startDate3"}})});
        $(document).on('submit', '#endDate3', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "endDate3"}})});
        
        $(document).on('submit', '#companyName3', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "companyName3"}})});
        $(document).on('submit', '#title3', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "title3"}})});
        
        $(document).on('submit', '#describe3', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "describe3"}})});


        // UNIVERSITY
        $(document).on('submit', '#universityName', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "universityName"}})});
        $(document).on('submit', '#major', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "major"}})});
        
        $(document).on('submit', '#degree', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "degree"}})});
        $(document).on('submit', '#grad', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "grad"}})});
        

        // COURSES
        $(document).on('submit', '#courseName1', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "courseName1"}})});
        $(document).on('submit', '#courseInstitute1', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "courseInstitute1"}})});
        
        $(document).on('submit', '#courseName2', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "courseName2"}})});
        $(document).on('submit', '#courseInstitute2', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "courseInstitute2"}})});

        $(document).on('submit', '#courseName3', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "courseName3"}})});
        $(document).on('submit', '#courseInstitute3', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "courseInstitute3"}})});

        $(document).on('submit', '#courseName4', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "courseName4"}})});
        $(document).on('submit', '#courseInstitute4', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "courseInstitute4"}})});
        

        // SDV
        // $(document).on('submit', '#sdv', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "asc"}})});
        // $(document).on('submit', '#sdv', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "asc"}})});
        
        // $(document).on('submit', '#sdv', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "asc"}})});
        // $(document).on('submit', '#sdv', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "asc"}})});
        
        // $(document).on('submit', '#sdv', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "asc"}})});
        // $(document).on('submit', '#sdv', function(e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: "asc"}})});

    </script>
    
    <div class="paddingBottom"></div>


</body>
</html>