:root {
    --hover: #d5d5d5;
    --mainShadow: #28282B;
    --main: #515457;
    --mainText: #28282B;
    --mainShaddow: #474952;
}
html, body, .home {
    background: var(--main);
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    font-family: 'Tilt Neon', cursive;
}
.box{
    margin-top: 0.5rem;
}
.insideBox {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    display: flex;
}
.button:hover, .button:focus, .button:active {
    color: var(--hover);
}
.button {
    margin: 3px;
    margin-left: 10px;
    margin-right: 10px;
    flex: 1;
    transition: all .3s;
}
.insideButton{
    padding: 10px;
    background-color: var(--main);
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--mainShaddow), -0.2rem -0.2rem 0.5rem var(--mainShadow);
    cursor: pointer;
    transition: 0.3s ease;
    border: none;
    color: var(--mainText);
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
}
.button:first-of-type {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.button:last-of-type {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.insideBox .button:not(:last-child) {
    border-right: none;
}

.paddingBottom{
    height: 500px;
}

p{
    margin-top: 7px;
    margin-bottom: 3px;
}
